# Google Apps Script Web App URL for Lead Capture
# Get this URL after deploying the Google Apps Script (see GOOGLE_SCRIPT_CODE.gs)
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
